/*
	! The-Great-Psalms-Scroll ! 
 */
@font-face { 
  font-family:'The-Great-Psalms-Scroll'; 
  src:url('The-Great-Psalms-Scroll.eot?v=0.1'); /* IE9-IE12 Compat Modes */
  src:url('The-Great-Psalms-Scroll.eot?#iefix&v=0.1') format('embedded-opentype'), /* IE6-IE8 */ 
    url('The-Great-Psalms-Scroll.woff2?v=0.1') format('woff2'), /* Modern Browsers */
	url('The-Great-Psalms-Scroll.woff?v=0.1') format('woff'), /* Modern Browsers */ 
	url('The-Great-Psalms-Scroll.ttf?v=0.1') format('truetype'), /* Safari, Android, iOS */ 
	url('The-Great-Psalms-Scroll.svg?v=0.1#The-Great-Psalms-Scroll.eot') format('svg'), /* Legacy iOS  */
	url("The-Great-Psalms-Scroll.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: sans-serif;
	color: #444;
	line-height: 1.5;
	font-size: 16px;
	padding: 20px;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	paddin: 0;
}
.glyph{
	display: inline-block;
	width: 120px;
	margin: 10px;
	text-align: center;
	vertical-align: top;
	background: #eee;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}
.glyph-icon{
	padding: 10px;
	display: block;
	font-family: "The-Great-Psalms-Scroll";
	font-size: 64px;
	line-height: 1;
}
.glyph-icon:before{
	content: attr(data-icon);
}
.class-name{
	font-size: 12px;
}
.glyph > input{
	display: block;
	width: 100px;
	margin: 5px auto;
	text-align: center;
	font-size: 12px;
	cursor: text;
}
.glyph > input.icon-input{
	font-family: "The-Great-Psalms-Scroll";
	font-size: 16px;
	margin-bottom: 10px;
}
.sr-only{ position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0 }
.sr-only-focusable:active,.sr-only-focusable:focus{ position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto }
.icon-Alef:before {
	content: "\5d0";
}
.icon-Beth:before {
	content: "\5d1";
}
.icon-Gimel:before {
	content: "\5d2";
}
.icon-Dal:before {
	content: "\5d3";
}
.icon-Hei:before {
	content: "\5d4";
}
.icon-Wav:before {
	content: "\5d5";
}
.icon-Zain:before {
	content: "\5d6";
}
.icon-Het:before {
	content: "\5d7";
}
.icon-Tet:before {
	content: "\5d8";
}
.icon-Yod:before {
	content: "\5d9";
}
.icon-FinalKaf:before {
	content: "\5da";
}
.icon-Kaf:before {
	content: "\5db";
}
.icon-Lamed:before {
	content: "\5dc";
}
.icon-FinalMem:before {
	content: "\5dd";
}
.icon-Mem:before {
	content: "\5de";
}
.icon-FinalNun:before {
	content: "\5df";
}
.icon-Nun:before {
	content: "\5e0";
}
.icon-Samekh:before {
	content: "\5e1";
}
.icon-Ayin:before {
	content: "\5e2";
}
.icon-FinalPeh:before {
	content: "\5e3";
}
.icon-Peh:before {
	content: "\5e4";
}
.icon-FinalTzadi:before {
	content: "\5e5";
}
.icon-Tzadi:before {
	content: "\5e6";
}
.icon-Qof:before {
	content: "\5e7";
}
.icon-Resh:before {
	content: "\5e8";
}
.icon-Shin:before {
	content: "\5e9";
}
.icon-Tav:before {
	content: "\5ea";
}
.icon-Separator:before {
	content: "\1091f";
}
