.icon-אַלְף:before {
	content: "\5d0";
}
.icon-בֵּת:before {
	content: "\5d1";
}
.icon-גַּמְל:before {
	content: "\5d2";
}
.icon-דֵלְתּ:before {
	content: "\5d3";
}
.icon-הֵה:before {
	content: "\5d4";
}
.icon-וַאוּ:before {
	content: "\5d5";
}
.icon-זַי:before {
	content: "\5d6";
}
.icon-חֵת:before {
	content: "\5d7";
}
.icon-טֵת:before {
	content: "\5d8";
}
.icon-יוֹד:before {
	content: "\5d9";
}
.icon-כַּף:before {
	content: "\5da";
}
.icon-כַּף חפירה:before {
	content: "\5db";
}
.icon-לַמְד:before {
	content: "\5dc";
}
.icon-מֵם חפירה:before {
	content: "\5dd";
}
.icon-מֵם:before {
	content: "\5de";
}
.icon-נוּן חפירה:before {
	content: "\5df";
}
.icon-נוּן:before {
	content: "\5e0";
}
.icon-סֵמְכְּ:before {
	content: "\5e1";
}
.icon-עַיְן:before {
	content: "\5e2";
}
.icon-פֵּה חפירה:before {
	content: "\5e3";
}
.icon-פֵּה:before {
	content: "\5e4";
}
.icon-צָדֵּק חפירה:before {
	content: "\5e5";
}
.icon-צָדֵּק:before {
	content: "\5e6";
}
.icon-קוֹף:before {
	content: "\5e7";
}
.icon-רוֹשׁ:before {
	content: "\5e8";
}
.icon-שִׁין:before {
	content: "\5e9";
}
.icon-תַּאוּ:before {
	content: "\5ea";
}
.icon-Separator:before {
	content: "\1091f";
}
